version: '3'

services:
  frontend:
      build:
        context: ./frontend
      ports:
            - "3000:3000"
      volumes: 
          - ./app   
      stdin_open: true
      command: npm start
      restart: always
      

