[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "3.6"
python-dotenv = "0.19"
djangorestframework = "3.12"
django-cors-headers = "3.10"
psycopg2-binary = "2.9"
django = "3.2"
setuptools = "*"
matplotlib = "*"
plotly = "*"
django-rest-knox = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
