*{
    margin: 0;
}
body{
    font-family: 'Segoe UI';
}

.header{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #53917e;
    justify-content: center;
    align-items: center;
}

.listra{
    display: flex;
    width: 100%;
    height: 15px;
    background-color: #63535b;
}

.titulo{
    color: white;
    font-size: 35px;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.tst {
    background-color: #53917e;
    color: white;

  
}

.tst1 {
    background-color: #b1b695;
    color: white;
  
}

.tst1:hover {
    background-color: #ade498; 
  
}
